# Configuration. Get your access token by creating an app in your Mastodon
# preferences at Preferences/Development/Your Applications.
# It needs at least write:statuses permission.
# For example, https://botsin.space/settings/applications
INSTANCE_HOST: botsin.space
#API_ACCESS_TOKEN: enable and change this to the api token

# post visibility, one of public, unlisted, private, direct
# defaults to unlisted
VISIBILITY:public

# if FILTER is set, only posts matching lines from TAIL_FILE
# if FILTER is "foo=bar", the xlogfile field "foo" value must be exactly "bar"
FILTER:death=ascended
TAIL_FILE: xlogfile

# extra data needed to form the dump file url
# if dumpfileurl is missing, no dump url is shown
# if dumpfileext is missing, it defaults to nh + version (minus ".") + ".txt"
#LINE_EXTRA_DATA:dumpfileurl=https://alt.org/nethack/userdata	dumpfileext=nh367.txt

# seconds to wait between checking the file
#SLEEP_WAIT: 5